body {
    background: #06f;
}
#box {
    width: 600px;
    height: 400px;
    margin: 100px auto;
    background: #03f;
    border: 2px #09f solid;
}
#bt {
    width: 400px;
    height: 200px;
    margin: -30px auto 0;
    position: relative;;
    top: 50%;
}
.bt {
    width: 160px;
    height: 60px;
    background: #06f;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.bt.left {
    position: relative;;
    top: 50%;
    float: left;
    margin: -34px 0 0 80px;
    border: 4px #09f solid;
}
.bt.right {
    position: relative;;
    top: 50%;
    float: right;
    margin: -32px 80px 0 0;
    border: 2px #09f solid;
}
.bt.right:hover {
    background: #061;
}