body, header, footer, div, ul, li, p, a, h1 {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/*头部*/
.hd {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.hd .inner {
    width: 980px;
    height: 60px;
    margin: 0 auto;
}
.hd .inner .logo {
    float: left;
    margin: 16px 20px 0 0;
}
.hd ul {
    float: left;
}
.hd ul li {
    float: left;
}
.hd ul li a {
    line-height: 60px;
    display: block;
    padding: 0 20px;
    color: #fff;
}
.hd ul li a:hover, .hd ul li.active a {
    background: #fc0;
    color: rgba(0, 0, 0, 0.8);
}
.content {
    margin: 0 auto;
}
/*首页*/
.s1 {
    background: url("../images/s1.jpg") center;
    overflow: hidden;
}
.s1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -270px 0 0 -545px;
    opacity: 0;
    transition-delay: 0.8s;
}
.s1.active img {
    opacity: 1;
}
/*公用*/
.fp-section {
    height: 100%;
    overflow: hidden;
}
.fp-section .left {
    height: 100%;
    float: left;
    position: absolute;
    top: 50%;
    left: 5%;
    margin-top: -189px;
    z-index: 2;
}
.fp-section .left li {
    float: left;
    margin-right: 20px;
    transition: 0.5s;
}
.fp-section .left li p {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}
.fp-section .left li a {
    display: block;
    width: 100px;
    height: 36px;
    color: #222;
    text-align: center;
    line-height: 36px;
    background: rgba(250, 205, 0, 1);
}
.fp-section .right {
    position: absolute;
    top: 11%;
    right: 5%;
    text-align: right;
    z-index: 2;
}
.fp-section .right h1 {
    font-size: 34px;
    font-weight: 100;
    color: #333;
}
.fp-section .right p {
    font-size: 18px;
    color: #333;
    line-height: 27px;
    margin: 20px 0 10px;
}
.fp-section .right a {
    color: #333;
    text-decoration: underline;
}
.fp-section .bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/*第二页*/
.s2 {
    background: url("../images/s2.jpg") center;
}
.s2 .left li {
    transform: translateY(1000px);
}
.s2 .left li:nth-child(1) {
    transition-delay: 0.8s;
}
.s2 .left li:nth-child(2) {
    transition-delay: 1s;
}
.s2 .left li:nth-child(3) {
    transition-delay: 1.2s;
}
.s2.active .left li {
    transform: translateY(0);
}
/*第三页*/
.s3 {
    background: url("../images/s3.jpg") center;
}
.s3 .left li {
    transition-delay: 0.8s;
}
.s3 .left li:nth-child(1) {
    transform: translateX(0);
}
.s3 .left li:nth-child(2) {
    transform: translateX(-279px);
}
.s3 .left li:nth-child(3) {
    transform: translateX(-558px);
}
.s3.active .left li {
    transform: translateX(0);
}
/*第四页*/
.s4 {
    background: url("../images/s4.jpg") center;
}
.s4 .left li:nth-child(1) {
    transform: translate(330px, -1000px);
}
.s4.active .left li:nth-child(1){
    animation:move1 3s 0.8s forwards;
    /*animation-fill-mode : forwards;*/
}
.s4 .left li:nth-child(2) {
    transform: translate(0px, -1000px);
}
.s4.active .left li:nth-child(2){
    animation:move2 3s 0.8s forwards;
}
.s4 .left li:nth-child(3) {
    transform: translate(-330px, -1000px);
}
.s4.active .left li:nth-child(3){
    animation:move3 3s 0.8s forwards;
}
@-webkit-keyframes move1 {
    0% {
        transform: translate(330px, -1000px);
    }
    20% {
        transform: translate(330px, 0px);
    }
    40% {
        transform: translate(330px, -50px);
    }
    60% {
        transform: translate(330px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes move2 {
    0% {
        transform: translate(0px, -1000px);
    }
    20% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(0px, -50px);
    }
    60% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes move3 {
    0% {
        transform: translate(-330px, -1000px);
    }
    20% {
        transform: translate(-330px, 0px);
    }
    40% {
        transform: translate(-330px, -50px);
    }
    60% {
        transform: translate(-330px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
/*第五页*/
.s5 {
    background: url("../images/s5.jpg") center;
}

